%rebase('main.html')

<title>OPB Site</title>

<style>

.landing-image {
  position: absolute;
  top: 20px;
  right: 30px;
  width: 50%;
  height: auto;  
}

</style>

<div class="row">
  <div class="col mx-5">
    <h1 class="mt-5">UFO Sightings, all in one site.</h1>
    <div>Browse and find some of your new favourite UFO sightings.</div>

    <div class="mt-3">To start reporting your own sightings, open an account.</div>
  </div>

  <img
    src="/static/landing_saucer.png"
    class="landing-image"
    alt="Landing saucer image"
  />
</div>

<div class="row mt-5 justify-content-center w-50"
  <div class="col-6">
    <img
      src="/static/landing_db.png"
      class="w-50"
      alt="Database image"
    />
  </div>
</div>
