%rebase('main.html')

<title>TODO: add title from sighting</title>

<style>

.comment-box {
  background-color: #071952 !important;
  color: #97FEED !important;
}

.date-text {
  position: relative;
  bottom: 35px;
}

</style>

<div class="content-page">
  <div class="content-container w-75">

    <div
      onclick="goToSighting('{{sighting.id}}')"
      class="row my-2"
    >

      <div class="col-3 align-middle text-start">
        <img
          src="/static/saucer.png"
          class="col-12 image-box mx-1 my-3"
          alt="Placeholder sighting image"
        />
      </div>
      <div class="col-9 text-start">
        <h2 class="my-2">{{sighting.title}}</h2>
        <div class="my-2 fs-6">Sighted at: {{sighting.sighting_date}}</div>
        <div class="my-2 fs-6">Uploaded at: {{sighting.creation_date}}</div>
        <div class="my-2 fs-6">Coordinates: {{sighting.coords}}</div>
        <div class="my-2 fs-6">Duration: {{sighting.description}}</div>
        <div class="my-2 fs-6">Description: {{sighting.description}}</div>
      </div>
    </div>
  </div>

  <div class="content-container w-75">
    <h2>Comments</h2>

    % for comment in comments:
      <div class="row image-box">
        <div class="col-2">
          <img
            src="/static/alien_profile.png"
            class="col-12 image-box mx-1 my-3"
            alt="Placeholder profile image"
          />
          <div class="mb-2">User name</div>
        </div>
        <div class="col-10 my-4 text-start">
          {{comment.content}}
        </div>
      </div>

      <div class="date-text">
        {{comment.creation_date}}
      </div>
    % end

    <form action="/do_add_comment" method="post">
      <input type="hidden" id="sighting_id" name="sighting_id" value="{{sighting.id}}">
    
      <div class="row row-cols-auto">
        <label class="form-label">Leave a comment</label>
      </div>
      <div class="form-floating">
        <textarea class="form-control comment-box" spellcheck="false" placeholder="Leave a comment here" id="comment" name="comment" value="" style="height: 160px"></textarea>
      </div>

      <div class="d-flex mx-auto">
        <button class="alien-btn mt-4 ms-auto" type="submit">
          Add Comment
        </button>
      </div>
    </form>

  </div>
</div>
